nav.nav
    .container
        -var item=["Планшеты","Мобильные телефоны","Mp3 плееры","Персональные компьютеры"]
            ul.nav__list
                each item in items
                    li(class="nav__item nav__item"+((item=="Мобильные телефоны")?" active":""))
                        a(href="#").nav__link=item